# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist

# Development
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# Testing
coverage
.nyc_output

# Documentation
docs
*.md
!README.md

# Git
.git
.gitignore

# Misc
.DS_Store
*.log
